# Python packages and version used in development environment
#
# This list is intended to be for reference only.
# Use the conda environment description file (environment.yaml)
# to create an isolated development environment.
#
# Create/update this file with:
#   (salishsea-tools)$ python -m pip list --format=freeze >> SalishSeaTools/requirements.txt

alabaster==0.7.16
angles==2.0
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==2.4.1
async-lru==2.0.4
attrs==23.2.0
autopage==0.5.2
Babel==2.14.0
beautifulsoup4==4.12.3
bleach==6.1.0
Bottleneck==1.3.7
Brotli==1.1.0
cached-property==1.5.2
certifi==2023.11.17
cffi==1.16.0
cftime==1.6.3
charset-normalizer==3.3.2
cliff==4.5.0
cmd2==2.4.3
cmocean==3.0.3
colorama==0.4.6
colorspacious==1.1.2
comm==0.2.1
contourpy==1.2.0
coverage==7.4.0
cycler==0.12.1
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
docutils==0.20.1
entrypoints==0.4
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==2.0.1
f90nml==1.4.4
fastjsonschema==2.19.1
fonttools==4.47.2
fqdn==1.5.1
gsw==3.6.17
idna==3.7
imagesize==1.4.1
importlib-metadata==7.0.1
importlib-resources==6.1.1
iniconfig==2.0.0
ipdb==0.13.13
ipykernel==6.29.0
ipython==8.20.0
isoduration==20.11.0
jedi==0.19.1
Jinja2==3.1.4
json5==0.9.14
jsonpointer==2.4
jsonschema==4.21.0
jsonschema-specifications==2023.12.1
jupyter_client==8.6.0
jupyter_core==5.7.1
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter_server==2.12.5
jupyter_server_terminals==0.5.1
jupyterlab==4.0.11
jupyterlab_pygments==0.3.0
jupyterlab_server==2.25.2
kiwisolver==1.4.5
lxml==5.1.0
MarkupSafe==2.1.3
matplotlib==3.8.2
matplotlib-inline==0.1.6
mistune==3.0.2
munkres==1.1.4
nbclient==0.8.0
nbconvert==7.14.2
nbformat==5.9.2
nbsphinx==0.9.3
nest_asyncio==1.5.9
netCDF4==1.6.5
notebook_shim==0.2.3
numpy==1.26.3
openpyxl==3.1.2
overrides==7.4.0
packaging==23.2
pandas==2.1.4
pandocfilters==1.5.0
parso==0.8.3
pbr==6.0.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==10.3.0
pip==23.3.2
pkgutil_resolve_name==1.3.10
platformdirs==4.1.0
pluggy==1.3.0
ply==3.11
prettytable==3.9.0
prometheus-client==0.19.0
prompt-toolkit==3.0.42
psutil==5.9.7
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
Pygments==2.17.2
pyparsing==3.1.1
pyperclip==1.8.2
PyQt5==5.15.9
PyQt5-sip==12.12.2
PySocks==1.7.1
pytest==7.4.4
python-dateutil==2.8.2
python-json-logger==2.0.7
pytz==2023.3.post1
PyYAML==6.0.1
pyzmq==25.1.2
referencing==0.32.1
requests==2.32.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rpds-py==0.17.1
SciPy==1.11.4
Send2Trash==1.8.2
setuptools==69.0.3
sip==6.7.12
six==1.16.0
sniffio==1.3.0
snowballstemmer==2.2.0
soupsieve==2.5
Sphinx==7.2.6
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==1.0.8
sphinxcontrib-devhelp==1.0.6
sphinxcontrib-htmlhelp==2.0.5
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.7
sphinxcontrib-serializinghtml==1.1.10
stack-data==0.6.2
stevedore==5.1.0
terminado==0.18.0
tinycss2==1.2.1
toml==0.10.2
tomli==2.0.1
tornado==6.3.3
tqdm==4.66.3
traitlets==5.14.1
types-python-dateutil==2.8.19.20240106
typing_extensions==4.9.0
typing-utils==0.1.0
tzdata==2023.4
uri-template==1.3.0
urllib3==2.1.0
wcwidth==0.2.13
webcolors==1.13
webencodings==0.5.1
websocket-client==1.7.0
wheel==0.42.0
xarray==2024.1.0
zipp==3.17.0
