# Python packages and version used in development environment
#
# This list is intended to be for reference only.
# Use the conda environment description file (envs/environment-dev.yaml)
# to create an isolated development environment.
#
# Create/update this file with:
#   (salishsea-tools)$ python -m pip list --format=freeze >> SalishSeaTools/envs/requirements.txt

alabaster==1.0.0
angles==2.0
anyio==4.9.0
argon2-cffi==25.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
attrs==25.3.0
babel==2.17.0
backports.tarfile==1.2.0
beautifulsoup4==4.13.4
black==25.1.0
bleach==6.2.0
Bottleneck==1.5.0
Brotli==1.1.0
cached-property==1.5.2
certifi==2025.6.15
cffi==1.17.1
cfgv==3.3.1
cftime==1.6.4
charset-normalizer==3.4.2
click==8.2.1
cmocean==4.0.3
colorama==0.4.6
colorspacious==1.1.2
comm==0.2.2
contourpy==1.3.2
coverage==7.9.1
cryptography==45.0.4
cycler==0.12.1
debugpy==1.8.14
decorator==5.2.1
defusedxml==0.7.1
distlib==0.3.9
docutils==0.21.2
editables==0.5
erddapy==2.2.4
et_xmlfile==2.0.0
exceptiongroup==1.3.0
executing==2.2.0
f90nml==1.4.4
fastjsonschema==2.21.1
filelock==3.18.0
fonttools==4.58.4
fqdn==1.5.1
gsw==3.6.19
h11==0.16.0
h2==4.3.0
h5netcdf==1.6.2
h5py==3.14.0
hatch==1.14.1
hatchling==1.27.0
hpack==4.1.0
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
hyperlink==21.0.0
identify==2.6.12
idna==3.10
imagesize==1.4.1
importlib_metadata==8.7.0
importlib_resources==6.5.2
iniconfig==2.0.0
ipdb==0.13.13
ipykernel==6.29.5
ipython==9.3.0
ipython_pygments_lexers==1.1.1
isoduration==20.11.0
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jedi==0.19.2
jeepney==0.9.0
Jinja2==3.1.6
json5==0.12.0
jsonpointer==3.0.0
jsonschema==4.24.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.3
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
keyring==25.6.0
kiwisolver==1.4.7
lxml==5.4.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.10.3
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
more-itertools==10.7.0
munkres==1.1.4
mypy_extensions==1.1.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nbsphinx==0.9.5
nest_asyncio==1.6.0
netCDF4==1.7.2
nodeenv==1.9.1
notebook_shim==0.2.4
numpy==2.3.0
openpyxl==3.1.5
overrides==7.7.0
packaging==25.0
pandas==2.3.0
pandocfilters==1.5.0
parso==0.8.4
pathspec==0.12.1
pexpect==4.9.0
pickleshare==0.7.5
pillow==11.3.0
pip==25.2
pkgutil_resolve_name==1.3.10
platformdirs==4.3.8
pluggy==1.6.0
pre_commit==4.2.0
prometheus_client==0.22.1
prompt_toolkit==3.0.51
psutil==7.0.0
ptyprocess==0.7.0
pure_eval==0.2.3
pycparser==2.22
Pygments==2.19.1
pyparsing==3.2.3
PySide6==6.9.1
PySocks==1.7.1
pytest==8.4.1
pytest-cov==6.2.1
pytest-randomly==3.15.0
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
pytz==2025.2
PyYAML==6.0.2
pyzmq==27.0.0
referencing==0.36.2
requests==2.32.4
retrying==1.4.0
rfc3339_validator==0.1.4
rfc3986-validator==0.1.1
rich==14.0.0
rpds-py==0.25.1
SalishSeaTools==25.1.dev0
scipy==1.15.2
SecretStorage==3.3.3
Send2Trash==1.8.3
setuptools==80.9.0
shellingham==1.5.4
shiboken6==6.9.1
six==1.17.0
sniffio==1.3.1
snowballstemmer==3.0.1
soupsieve==2.7
Sphinx==8.1.3
sphinx-notfound-page==1.0.4
sphinx_rtd_theme==3.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==1.1.10
stack_data==0.6.3
terminado==0.18.1
tinycss2==1.4.0
toml==0.10.2
tomli==2.2.1
tomli_w==1.2.0
tomlkit==0.13.3
tornado==6.5.1
tqdm==4.67.1
traitlets==5.14.3
trove-classifiers==2025.5.9.12
types-python-dateutil==2.9.0.20250516
typing_extensions==4.14.0
typing_utils==0.1.0
tzdata==2025.2
ukkonen==1.0.1
uri-template==1.3.0
urllib3==2.5.0
userpath==1.9.2
virtualenv==20.31.2
wcwidth==0.2.13
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
xarray==2025.6.1
zipp==3.23.0
zstandard==0.23.0
